# Airtable
AIRTABLE_PAT=your_airtable_token
AIRTABLE_ACADEMY_BASE=app03QcWnc2irLiE5
AIRTABLE_HOPES_BASE=apptuHR45WSqzEMaX

# HubSpot
HUBSPOT_API_KEY=your_hubspot_token

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_key
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# Resend (transactional email)
RESEND_API_KEY=your_resend_api_key

# Slack
SLACK_BOT_TOKEN=***

# Google OAuth
GOOGLE_CLIENT_ID=153744757485-4b2b6saitvogkd7mrhrmu3upotslfris.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_secret
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=https://basmaworld.com
